<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Business Expert 24</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link href="~/css/kendo/2017_R1/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo/2017_R1/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo/2017_R1/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo/2017_R1/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kendo/2017_R1/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    
    <link href="~/css/jgrowl.css" rel="stylesheet" />
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/kendo/2017_R1/jszip.min.js"></script>
    <script src="~/lib/kendo/2017_R1/kendo.all.min.js"></script>
    <script src="~/lib/jquery-jgrowl/jquery.jgrowl.js"></script>

    <script src="~/lib/jquery-file-upload/jquery.ui.widget.js"></script>

    <script src="~/js/api.js"></script>
    <script src="~/js/api.utilites.js"></script>
    <script src="~/js/login.js"></script>

    <link href="~/css/kendo/2017_R1/kendo.common.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/images/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="win_login" id="win_login">
        @RenderBody()
    </div>
</body>
</html>
