<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/iframe.css">
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
