@using BE24Services.Model
@model BE24Services.Model.LoginViewModel 
@{
}

@*<h2>Login ("test3@test.ru", "12345") </h2>*@

<div class="menu_reg">
    <a href="#" id="btn_reg">Зарегистрироваться</a>
    @*<a href="#" id="btn_getpassword">Забыли пароль?</a>*@
    <a href="#" id="btn_exit" class="k-button btnBack btn withIcon blue">Вернуться</a>
</div>

<div class="login_form" id="formLogin">
    <div class="login_section"  style="background: url(/images/logo.jpg) no-repeat top center;">
        <form method="post" asp-controller="Home" asp-action="Login" class="form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="title_form">Вход в систему</div>
            <div class="inputs_form">
                <div class="line_input">
                    @*<label asp-for="Username">Имя пользователя:</label>*@
                    <input asp-for="Username" placeholder="E-mail или телефон" />
                    <span asp-validation-for="Username"></span>
                </div>

                <div class="line_input">
                    @*<label asp-for="Password">Пароль:</label>*@
                    <input asp-for="Password" placeholder="Пароль" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="line_input remember">
                    <div class="remember_line"><input type="checkbox" name="a" value="" class="check_rem"> Запомнить</div>
                    <a href="#" id="btn_getpassword">Забыли пароль?</a>
                </div>

                    <div class="line_input hidden">
                        <label asp-for="RememberMe"></label>
                        <input asp-for="RememberMe" />
                        <span asp-validation-for="RememberMe"></span>
                    </div>
                    <input type="submit" value="Войти" class="btn_login" />
                </div>
        </form>
    </div>
</div>
<div class="login_form" id="formReg" style="display: none">
    <div class="login_section"  style="background: url(/images/logo.jpg) no-repeat top center;">
        <form method="post" asp-controller="Home" asp-action="Login" class="form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="title_form">Регистрация пользователя</div>
            <div class="inputs_form">
                <div class="line_input">
                    <label for="reg_family">Имя:</label>
                    <input type="text"
                           id="reg_name"
                           name="reg_name"
                           placeholder="Имя"
                           data-message="<b>Имя</b> - это обязательное поле"
                           class="k-textbox"
                           maxlength="100"
                           data-bind="value: name" />
                </div>
                <div class="line_input">
                    <label for="reg_family">Фамилия:</label>
                    <input type="text"
                           id="reg_family"
                           name="reg_family"
                           placeholder="Фамилия"
                           data-message="<b>Фамилия</b> - это обязательное поле"
                           class="k-textbox"
                           maxlength="100"
                           data-bind="value: family" />
                </div>
                <div class="line_input">
                    <label for="reg_email">E-mail:</label>
                    <input type="email"
                           id="reg_email"
                           name="reg_email"
                           class="k-textbox"
                           placeholder="myname@example.net"
                           data-email-msg="<b>E-mail</b> - неверный формат электронного адреса"
                           data-message="<b>E-mail</b> - это обязательное поле"
                           maxlength="100"
                           data-bind="value: email" />
                </div>
                <div class="line_input">
                    <label for="reg_password1">Пароль:</label>
                    <input type="password"
                           id="reg_password1"
                           name="reg_password1"
                           placeholder="Пароль"
                           data-message="<b>Пароль</b> - поле должно содержать не менее 7 символов и не совпадать с логином пользователя"
                           class="k-textbox"
                           maxlength="100"
                           data-bind="value: password1" />
                </div>
                <div class="line_input">
                    <label for="reg_password2">Подтверждение пароля:</label>
                    <input type="password"
                           id="reg_password2"
                           name="reg_password2"
                           placeholder="Пароль"
                           data-message="<b>Подтверждение пароля</b> - значение должно совпадать с паролем"
                           class="k-textbox"
                           maxlength="100"
                           data-bind="value: password2" />
                </div>
                <div class="line_input">
                    <div class="text_lic">
                        <p>
                            ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ<br />
                            Политика по обработке данных Пользователей "Интеллектуально-экспертной системы
                            "Бизнес ЭКСПЕРТ 24" на интернет-сайте http://business-expert24.com
                        </p>
                        <p>
                            Настоящий документ (далее – "Политика") определяет общие условия обработки данных, в том числе персональных данных (далее совместно – "Данные”), предоставляемых Пользователями при регистрации или совершении иных действий, связанных с предоставлением указанных ниже Данных на интернет-сайте http://business-expert24.com/ (далее – "Сайт").
                            Лицом, осуществляющим обработку Данных в соответствии с настоящей Политикой, является Общество с ограниченной ответственностью "БИЗНЕС ЭКСПЕРТ 24", ОГРН 1177746010200, ИНН 7728358002, местонахождение: 108814, г. Москва, километр Калужское шоссе 23-й (п Сосенское), домовл 14, строение 3, офис 37 (далее – "Правообладатель").
                            Использование Сайта означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки Данных включая его персональные данные. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.
                            Условия, изложенные в настоящей Политике, могут быть изменены Правообладателем в любое время. Изменения вступают в силу сразу после их размещения на Сайте. Пользователь Сайта самостоятельно осуществляет ознакомление с Политикой и изменениями к ней. В случае несогласия с изменениями Политики Пользователь должен прекратить использование Сайта. Дальнейшее использование Сайта означает полное согласие с Политикой.<br />
                            Принимая условия настоящей Политики, Пользователь выражает свое согласие на обработку Данных, в том числе и персональных данных в объёме и в целях, предусмотренных настоящей Политикой.
                        </p>
                        <p>
                            Данные: виды и способы получения<br />
                            Действие настоящей Политики распространяется на следующие Данные:<br />
                            •	данные, предоставляемые Пользователями при регистрации на Сайте, в том числе персональные данные, а именно: фамилия, имя, отчество (если применимо), ИНН, страна и регион местонахождения, номер телефона, адрес электронной почты Пользователя;<br />
                            •	данные предоставляемые Пользователем юридическим лицом при заполнении информационной анкеты или предоставлении карточки компании, включая отрасль или виды деятельности компании, местонахождение Пользователя, ИНН и другие данные;<br />
                            •	обязательные для предоставления Данные помечаются специальным образом. Иные Данные предоставляются на усмотрение Пользователя;<br />
                            •	данные, автоматически передаваемые в процессе использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, индивидуальный сетевой номер устройства, электронный серийный номер, данные cookies, информация о браузере, операционной системе, времени доступа, поисковых запросах.<br />
                        </p> <p>
                            Обработка и использование Данных<br />
                            Обработка Данных, в том числе персональных данных, включает совершение любого действия (операции) или совокупности действий (операций) с использованием средств автоматизации или без использования таких средств с Данными, в том числе, с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение.<br />
                        </p>
                        <p>
                            Обработка Данных осуществляется в следующих целях:<br />
                            •	идентификация Пользователя Сайта в качестве стороны договора о предоставлении информационных услуг с использованием Сайта;<br />
                            •	предоставление Пользователям Сайта информации с использованием Сайта;<br />
                            •	связь с Пользователем, реагирование на запросы пользователей Сайта в службу поддержки Сайта, информирование о возможностях Сайта, направление пользователям Сайта запросов, касающихся использования Сайта;<br />
                            •	проведения статистических и иных исследований в целях разработки новых сервисов и услуг для Пользователей Сайта;<br />
                            •	обеспечение защиты прав и законных интересов Правообладателя и (или) третьих лиц, если есть основания полагать, что Пользователь Сайта нарушает условия настоящей Политики, интеллектуальные права, законодательство Российской Федерации.<br />
                        </p><p>
                            Лица, осуществляющие обработку Данных в соответствии с настоящей Политикой, обязуются не передавать Данные третьим лицам, если иное не предусмотрено настоящей Политикой, а также за исключением случаев, предусмотренных законодательством Российской Федерации.
                            Предоставляя Данные при регистрации на Сайте, Пользователь также дает согласие Правообладателю направлять в адрес пользователя рекламно-информационные материалы и предложения соответствующих финансовых услуг и продуктов Правообладателя на основании полученных Данных, и на обработку Данных для указанной цели.
                            Обработка Данных, в том числе персональных данных, будет осуществляться с соблюдением всех принципов и правил, предусмотренных законодательством Российской Федерации, и в соответствии с настоящей Политикой.
                            Персональные данные, предоставляемые Пользователями при регистрации на Сайте, хранятся в соответствии с действующим законодательством Российской Федерации.
                            Данные хранятся в течение срока действия учетной записи или в течение срока предоставления Пользователю информации с использованием Сайта и уничтожаются в сроки и в порядке предусмотренном законодательством Российской Федерации.
                        </p><p>
                            Пользователи вправе:<br />
                            •	самостоятельно вносить изменения, дополнения в Данные, предоставленные Пользователем в личном кабинете на Сайте;<br />
                            •	удалять Данные, предоставленные Пользователем в личном кабинете на Сайте. При этом удаление Данных и (или) учетной записи на Сайте может повлечь невозможность использования функций Сайта;<br />
                            •	по запросу получать информацию, касающуюся обработки персональных данных Пользователя;<br />
                            •	отказаться от получения рекламно-информационных материалов и предложений соответствующих финансовых услуг и продуктов Правообладателя.<br />
                        </p><p>
                            Согласие Пользователя на обработку Данных может быть отозвано путем направления соответствующего уведомления с использованием формы обратной связи, размещенной на Сайте, а также на адреса электронной почты Правообладателя.
                        </p><p>
                            Применимое право и порядок разрешения споров
                            В случае возникновения споров, разногласий или требований, связанных и (или) вытекающих из настоящей Политики (далее – "Споры"), такие Споры подлежат урегулированию путем переговоров и взаимных консультаций. Пользователь обязуется направить письменную претензию (жалобу) на почтовый адрес и адрес электронной почты Правообладателя, указанные в настоящей Политике. Правообладатель вправе направить ответ на такую претензию (жалобу) в течение 30 (Тридцати) календарных дней с момента её получения.
                            Если разрешение Спора путем переговоров и взаимных консультаций становится невозможным, или в течение 30 (Тридцати) календарных дней с момента получения претензии (жалобы) ответ на нее не получен, все Споры подлежат разрешению в судебном порядке в соответствии с законодательством Российской Федерации.
                            Настоящая Политика, и отношения, возникающие в связи с её применением, а также вопросы, не урегулированные настоящей Политикой, регулируются и должны толковаться в соответствии с действующим законодательством Российской Федерации.
                        </p><p>
                            Адрес Правообладателя для направления претензий:<br />
                            Россия, 108814, г. Москва, километр Калужское шоссе 23-й (п Сосенское), домовл 14, строение 3, офис 37. <br />
                            e-mail: help@business-expert24.com
                        </p>
                        @*<p>Лицензионное соглашение – это официальный документ, по которому одна из сторон (лицензиар, владелец патента) передает право на пользование изобретением (промышленным образцом, усовершенствованной моделью) другой стороне (лицензиату). Одним из главных условий соглашения является принятие лицензиатом обязательств своевременно и в полном объеме перечислять оговоренные соглашением платежи и производить другие действия, прописанные в договоре неисключительной или исключительной лицензии.</p>
                        <p>Оформление лицензионного соглашения при передаче той или иной технологии внутри государства или между разными странами – это одна из главных правовых форм, позволяющих защитить с позиции законодательства все стороны сделки. Само слово «лицензия» произошло от латинского «licentia». В переводе это слово означает свобода или разрешение выполнять какие-либо действия.</p>
                        <p>Сегодня оформление лицензий используется во всем мире, как один из основных способов регулирования бизнес-деятельности физических и юридических лиц. При этом сами лицензии могут выдаваться исключительно владельцами прав собственности или уполномоченными государственными структурами. Как правило, такие документы предоставляются в качестве разрешения на осуществление определенного рода деятельности, к примеру, ведение медицинской практики.</p>
                        <p>Термин «лицензия» часто применяется в отношении к внутреннему или международному обмену различными изобретениями или прочими объектами собственности, отличающимися своей спецификой и особенностями. В качестве сторон сделки в этом случае выступают:</p>
                        <p>- лицензиар – это лицо, которое является владельцем изобретения (специализированных знаний, патента). Лицензиар передает другой стороне сделки (лицензиату) разрешение (лицензию) на применение своих разработок (прав) с определенными ограничениями;</p>
                        <p>- лицензиат – сторона, которая покупает у владельца изобретения, коммерческих (производственных) знаний, патентов лицензию, дающую право использовать упомянутые выше блага в определенных соглашением границах.</p>*@
                    </div>
                </div>
                <div class="line_input">
                    <div class="sogl_line">
                        <input type="checkbox"
                               id="reg_enableLicense"
                               name="reg_enableLicense"
                               class="k-checkbox"
                               data-message="Вы должны принять лицензионное соглашение"
                               data-bind="checked: isLicense">
                        <label class="k-checkbox-label" for="reg_enableLicense">Я согласен с условиями Политики конфиденциальности</label>
                    </div>
                    <img id="reg_image" height="100" width="200" src="/api/home/image" width alt="Click for refresh" />
                </div>
                <div class="line_input">
                    <label for="reg_family">Введите текст с картинки:</label>
                    <input type="text"
                           id="reg_captcha"
                           name="reg_captcha"
                           placeholder="Текст с картинки"
                           data-message="<b>Текст с картинки</b> - это обязательное поле"
                           class="k-textbox"
                           maxlength="100"
                           data-bind="value: captcha" />
                </div>
                <button color="green" class="btn_login" data-bind="events: { click: send }">Зарегистрировать</button>
            </div>
        </form>
    </div>
</div>
<div class="login_form" id="formGetPassword" style="display: none">
    <div class="login_section"  style="background: url(/images/logo.jpg) no-repeat top center;">
        <form method="post" asp-controller="Home" asp-action="Login" class="form">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="title_form">Восстановление пароля</div>
            <div class="inputs_form">
                <div class="line_input">
                    <label asp-for="Username">Введите логин или адрес электронной почты для восстановления пароля:</label>
                    <input type="text"
                           id="getPswd_name"
                           name="getPswd_name"
                           placeholder="Имя"
                           data-message="Поле для ввода - обязательное поле"
                           class="k-textbox"
                           maxlength="100"
                           data-bind="value: loginOrEmail" />
                </div>
                <button color="green" class="btn_login" data-bind="events: { click: send }">Отправить</button>
            </div>
        </form>
    </div>
</div>


