<script type="text/x-template" id="edit-inputs-template">
    <div>
        <div class="line-input">
            <div class="title-input">id:</div>
            <!--<div class="value-input"><div v-for="(item, index) in data">{{item}}</div></div>-->
            <div class="value-input"><div>{{data.id}}</div></div>
        </div>
        <div class="line-input">
            <div class="title-input">Дата:</div>
            <div class="value-input">{{data.data}}</div>
        </div>
        <div class="line-input">
            <div class="title-input">Пользователь:</div>
            <div class="value-input">{{data.user}}</div>
        </div>
        <div class="line-input vertical-title">
            <div class="title-input">Формулировка тезиса:</div>
            <textarea class="textarea"></textarea>
        </div>
        <div class="line-input">
            <div class="title-input">SWOT индикатор:</div>
            <div class="autocomplit">
                <div class="btn_select"></div>
                <input class="input" type="text" />
                <ul class="list_panel">
                    <li>1</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="line-input">
            <div class="title-input">Категория:</div>
            <div class="autocomplit">
                <div class="btn_select"></div>
                <input class="input" type="text" />
                <ul class="list_panel">
                    <li>1</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="line-input point-type">
            <div class="title-input">Компания:</div>
            <div class="object-input">
                <div class="btn_object"></div>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="line-input otrasl">
            <div class="title-input">Отрасль:</div>
            <div class="object-input">
                <div class="btn_object"></div>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="line-input">
            <div class="title-input">Рынок:</div>
            <div class="object-input">
                <div class="btn_object"></div>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="line-input">
            <div class="title-input">Спрос:</div>
            <div class="object-input">
                <div class="btn_object"></div>
                <input class="input" type="text" />
            </div>
        </div>
        <div class="line-input">
            <div class="title-input">Раздел:</div>
            <div class="autocomplit">
                <div class="btn_select"></div>
                <input class="input" type="text" />
                <ul class="list_panel">
                    <li>1</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="line-input">
            <div class="title-input">Параметр:</div>
            <div class="autocomplit">
                <div class="btn_select"></div>
                <input class="input" type="text" />
                <ul class="list_panel">
                    <li>1</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="line-input">
            <div class="title-input">Гео:</div>
            <input type="text" class="input" />
        </div>
    </div>
</script>
